/* LIME */
/* outline: 1px solid lime; */

/* issue: footer wont stick at the bottom */

/* Reset and box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0B1D51;
}

/* ------------------------------- */
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  /* outline: 1px solid lime; */
  flex-direction: column;
  min-height: 100vh;
  font-family: monospace, sans-serif;
  background-color: #A1869E;
}
/* ------------------------------- */

.container {
  max-width: 70%;
  /* outline: 1px solid lime; */
  margin: 0 auto;
}

/* ------------NAVBAR------------ */
.navbar {
  background-color: #797596;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: xxx-large;
}

.logo a {
  /* outline: 1px solid lime; */
}

.logo a:hover {
  background-color: #A1869E;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  letter-spacing: .2em;
  /* outline: 1px solid lime; */
  height: 100%;
  font-size: larger;
  font-weight: bolder;
  padding: 1rem;
}

.links a:hover {
  background-color: #A1869E;
}

/* ------------HAMBURGER------------ */
.toggle-button {
  /* outline: 1px solid lime; */
  /* position */
  position: absolute;
  top: 15px;
  right: 15px;
  width: 70px;
  height: 53px;

  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.toggle-button .bar {
  background-color: #D1C6AD;
  height: 7px;
  border-radius: 10px;
  width: 100%;
}

/* ------------MAIN CONTENT------------ */
.main {
  /* outline: 1px solid lime; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.main .container {
  /* outline: 1px solid lime; */
  display: flex;
}

.main .aside {
  /* outline: 1px solid lime; */
  width: 40%;
  padding: 20px;
  background-color: #BBADA0;
}

.main .section {
  /* outline: 1px solid lime; */
  background-color: #D1C6AD;
  padding: 20px;
}

/* ------------FOOTER------------ */
.footer {
  /* outline: 1px solid lime; */
  background-color: #797596;
  height: 8vh;
}

.footer .container {
  align-content: center;
  text-align: center;
  height: 100%;
}

/* ------------MEDIA------------ */
/* For mobile devices (portrait) */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    padding: 15px;
    /* outline: 1px solid lime; */
  }

  .main {
    /* outline: 1px solid lime; */
    margin-top: 0;
    margin-bottom: 0;
  }

  .toggle-button {
    display: flex;
  }

  .navbar .container {
    flex-direction: column;
  }

  .links {
    display: none;
    flex-direction: column;
  }

  .links a {
    width: 100%;
    text-align: center;
  }

  /* ACTIVE CLICK */
  .links.active {
    display: flex;
  }

}

/* For tablets and small laptops */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding: 15px;
  }

  .main {
    /* outline: 1px solid lime; */
    margin-top: 0;
    margin-bottom: 0;
  }

  .main .container {
    flex-direction: column;
  }

  .main .aside {
    width: 100%;
  }
}

/* For large tablets or small desktops */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
    padding: 15px;
  }
}

/* For large desktops or wide screens */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
    /* padding: 15px; */
  }
}