/* FLEXBOX */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    background-color: #f4f4f4;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    color: #fff;
    margin: 10px;
}

.item:nth-of-type(1) {}

.item:nth-of-type(2) {}

.item:nth-of-type(3) {}