    /* outline: 2px solid lime; */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: monospace;
        background-color: #608BC1;
        font-size: x-large;
        height: 100vh;
    }

    .container {
        max-width: 1100px;
        /* margin top & bottom, auto on left & right */
        /* this will put the container in the middle */
        margin: 0 auto;
        padding: 0 30px;
    }

    .navbar {
        background-color: #CBDCEB;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: x-large;
        height: 50px;
    }

    .navbar ul {
        display: flex;
        flex-shrink: 0;
        /* outline: 1px solid lime;
    background-color: aliceblue; */
        justify-content: space-around;
        list-style: none;
        width: 30%;
        align-content: center;
    }

    .navbar .container div {
        flex-shrink: 0;
        color: #133E87;
    }

    .navbar .container ul li a {
        padding: 5px;
        text-decoration: none;
        color: #133E87;
    }

    .navbar .container ul li a:hover {
        text-decoration: none;
        color: #427bdf;
    }

    /* MAIN */
    .main {
        margin: 50px;
    }

    .main .container {
        display: flex;
        padding: 2 5px;
    }

    .main .container section {
        padding: 15px;
        outline: 2px solid lime;
        margin-right: 20px;
        min-width: 58%;
        width: max-content;

    }

    .main .container aside {
        padding: 15px;
        outline: 2px solid lime;
    }

    .post-1 {
        padding: 5px;
    }

    .post-2 {
        padding: 5px;
    }

    /* FOOTER */
    /* FOOTER COLOR */

    /* RES */
    @media(max-width: 700px) {
        .navbar .container {
            flex-direction: column;
        }

        .main .container {
            flex-direction: column;
        }

        .main .container section {
            max-width: fit-content;
            margin-right: 0;
        }

        .main .container aside {
            margin-top: 50px;
            max-width: fit-content;
        }
    }

    @media(max-width: 800px) {
        /* .navbar .container {
            flex-direction: column;
        } */

        .main .container {
            flex-direction: column;
        }

        .main .container section {
            max-width: fit-content;
            margin-right: 0;
        }

        .main .container aside {
            margin-top: 50px;
            max-width: fit-content;
        }
    }